<h1>物件登録</h1>
<%= form_with(model: @apartment, local: true) do |f| %>
<div>
  <%= f.label :name, "物件名" %> <br>
  <%= f.text_field :name %>
</div>
  <%= f.label :rent, "賃料" %> <br>
  <%= f.text_field :rent %>
<div>
  <%= f.label :address, "住所" %> <br>
  <%= f.text_field :address %>
</div>
<div>
  <%= f.label :age, "築年数" %> <br>
  <%= f.text_field :age %>
</div>
<div>
  <%= f.label :remarks, "備考" %> <br>
  <%= f.text_area :remarks %>
</div>
<div class="border_line"></div>
<% c = 1 %>
<%= f.fields_for :accsesses do |acs| %>
  <div class = "accsess">
    <h4> <%= "最寄り駅#{c}" %></h4>
    <div>
      <%= acs.label :line_name, "路線名" %> <br>
      <%= acs.text_field :line_name %>
    </div>
    <div>
      <%= acs.label :station_name, "駅名" %> <br>
      <%= acs.text_field :station_name %>
    </div>
    <div>
      <%= acs.label :distance, "徒歩分数" %> <br>
      <%= acs.text_field :distance %>
    </div>
  </div>
  <% c += 1 %>
<% end %>
<%= f.submit "登録" %>
<% end %>
<%= link_to "戻る", apartments_path%>